.catalog {
  padding: 50px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(500px, 200px));
  grid-template-columns: repeat(auto-fit, minmax(420px, 200px));
  grid-row-gap: 25px;
  grid-column-gap: 25px;
}
