// Sizes
$large: 1440px;
$medium: 1260px;
$small: 740px;

$container: 1264px;
$containerTablet: 720px;
$containerMobile: 288px;

$indent-4: 4px;
$indent-8: 8px;
$indent-12: 12px;
$indent-16: 16px;
$indent-20: 20px;
$indent-24: 24px;
$indent-32: 32px;
$indent-36: 36px;
$indent-44: 44px;
$indent-48: 48px;
$indent-56: 56px;
$indent-64: 64px;
$indent-76: 76px;
$indent-88: 88px;
$indent-128: 128px;
$indent-130: 130px;

// Colors
$color-black: #000000;

$color-white: #ffffff;

$color-green: #bbef44;
$color-purple: #471590;
$color-gray: #333333;

$color-primary-blue: #045bc3;
