@import "../styles/index.scss";

body {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: $color-gray;
  box-sizing: border-box;
  font-style: normal;
  margin: 0;
  word-break: break-word;
}

*,
*::before,
*::after {
  font-family: "Ubuntu", sans-serif;
}
